<div class="social-links">
  <span class="social-link">
    <a><i data-lucide="github"></i></a>
  </span>

  <span class="social-link">
    <a><i data-lucide="send"></i></a>
  </span>

  <span class="social-link">
    <a>Mastodon</a>
  </span>


  <span class="social-link">
    <a><i data-lucide="send"></i></a>
  </span>

  <span class="social-link">
    <a><i data-lucide="rss"></i></a>
  </span>
  

  


</div>
