
/* Accent */

body {
  --accent-h: 9;
  --accent-s: 60%;
  --accent-l: 60%;
}



.theme-light {
  --color-red: #c83737;
  --color-orange: #d8690e;
  --color-yellow: #cc9900;
  --color-green: #598d25;
  --color-cyan: #1d8395;
  --color-blue: #3b80c4;
  --color-purple: #6551bd;
  --color-pink: #dd6287;

  --color-red-rgb: 200, 55, 55;
  --color-orange-rgb: 216, 105, 14;
  --color-yellow-rgb: 204, 153, 0;
  --color-green-rgb: 89, 141, 37;
  --color-cyan-rgb: 29, 131, 149;
  --color-blue-rgb: 59, 128, 196;
  --color-purple-rgb: 101, 81, 189;
  --color-pink-rgb: 221, 98, 135;
}




.theme-light {
  --background-primary: hsl(0, 0%, 100%);
  --background-primary-alt: hsl(30, 20%, 98%);
  --background-secondary: hsl(30, 20%, 98%);
  --background-secondary-alt: hsl(30, 5%, 96%);
  --background-modifier-border: hsl(30, 4%, 89%);
  --background-modifier-border-hover: hsl(30, 2%, 82%);
  --text-normal: hsl(20, 8%, 15%);
  --text-muted: hsl(20, 8%, 40%);
  --text-faint: hsl(20, 8%, 75%);
  --text-faded: hsl(20, 8%, 85%);
  --text-highlight-bg: hsla(40, 80%, 50%, 0.2);
  --background-primary-transparent: hsla(0, 0%, 100%, 0.7);
}








body {
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --ribbon-background-collapsed: var(--background-secondary);
  --scrollbar-thumb-bg: var(--background-secondary-alt);
  --collapse-icon-color-collapsed: var(--text-faded);
  --divider-color: transparent;
  --hr-thickness: 1px;
  --file-line-width: 900px;
  --link-decoration: none;
  --link-external-decoration: none;
  --link-formatting-color: hsla(var(--interactive-accent-hsl), 0.5);
  --tag-padding-y: 0.15em;
  --tag-padding-x: 0.5em;
  --embed-block-shadow-hover: none;
  --popover-width: 550px;
  --popover-height: 500px;
  
}





.is-mobile .HyperMD-list-line,
.is-mobile ul > li {
  left: -0.85em;
  padding-right: 0.85em !important;
  width: calc(100% + 1.7em)
  
}

.cm-embed-block ul > li.task-list-item {
  left: -1.75em;
}



.is-mobile .cm-embed-block ul > li,
.is-mobile .horizontal-block-container ul > li,
.is-mobile .callout ul > li {
  left: 0em;
}


.is-mobile .HyperMD-list-line .collapse-indicator {
  transform: translate(6px, 0px);
}

.is-mobile .markdown-rendered .list-collapse-indicator {
  transform: translate(12px, 0px);
}









.workspace-split.mod-root {
    background-color: var(--background-secondary);
    --tab-outline-color: var(--background-modifier-border);
}

.workspace-tab-header-container {
  border-bottom: none;
}

.mod-root .workspace-tab-container {
  border-radius: 8px;
  margin: 1px 3px 3px 1px;
  box-shadow: 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
}







.mod-root .workspace-leaf-content[data-type="markdown"] .view-header {
  position: absolute;
  z-index: 3;
  width: 100%;
  opacity: 0;
  transition-delay: 0.2s;
}



.mod-root .workspace-leaf-content[data-type="markdown"] .view-header:hover {
  opacity: 1;
}


body {
  --file-margins: 44px 32px;
  
}

.is-phone, .is-phone.is-floating-nav, .is-phone.auto-full-screen {
  --view-top-spacing-markdown: calc(var(--view-header-height) + 16px);
}







.metadata-input-longtext::-webkit-scrollbar,
.mod-left-split ::-webkit-scrollbar,
.mod-right-split ::-webkit-scrollbar,
.view-header::-webkit-scrollbar {
  width: 0px !important;
}





body {
    --heading-font: "Playfair Display", serif;

    --h1-font: var(--heading-font);
    --h2-font: var(--heading-font);
    --h3-font: var(--heading-font);
    --h4-font: var(--heading-font);
    --h5-font: var(--heading-font);
    --h6-font: var(--heading-font);

    --h1-size: 1.9em;
    --h2-size: 1.6em;
    --h3-size: 1.4em;
    --h4-size: 1.2em;
    --h5-size: 1.1em;
    --h6-size: 1em;

    --h1-weight: 500;
    --h2-weight: 500;
    --h3-weight: 500;
    --h4-weight: 500;
    --h5-weight: 500;
    --h6-weight: 400;
}

.is-mobile {
  --h1-size: 1.7em;
  --h2-size: 1.4em;
  --h3-size: 1.3em;
}

.cm-s-obsidian .cm-line.HyperMD-header {
    padding-top: 0;
}









.markdown-reading-view mark,
.markdown-source-view mark,
.markdown-rendered mark {
  box-decoration-break: clone;
  border-radius: 6px;
  padding: 0px 4px !important;
}

.cm-s-obsidian span.cm-highlight {
  box-decoration-break: clone;
  padding: 0 4px;
  border-radius: 6px;
}




.cm-s-obsidian span.cm-hashtag.cm-highlight,
.cm-s-obsidian span.cm-hashtag.cm-highlight .cm-hashtag-inner {
  padding: var(--tag-padding-y) var(--tag-padding-x);
  border-radius: var(--tag-radius);
  background-color: var(--tag-background);
  color: var(--tag-color);
}

code, .cm-inline-code {
  vertical-align: middle;
}

.cm-s-obsidian span.cm-inline-code.cm-highlight {
  background-color: var(--code-background);
  color: var(--code-normal);
  border-radius: 0;
  padding: calc((var(--font-text-size) - var(--code-size)) / 2) 4px;  
}




.markdown-embed-link:not(:hover),
.edit-block-button:not(:hover) {
  opacity: 0.15 !important;
}

.cm-embed-block:not(:hover) .edit-block-button,
.internal-embed:not(:hover) .markdown-embed-link {
  opacity: 0 !important;
}






body {
  --checkbox-radius: 50%;
  --checklist-done-decoration: none;
  --checklist-done-color: var(--text-normal);
  --list-indent: 1.5em;
  
}







.is-live-preview .cm-line:not(.cm-active, :hover) .cm-blockid {
  font-size: 0 !important;
}

  


.is-live-preview .cm-line:not(.cm-active) .cm-inline-footnote-start,
.is-live-preview .cm-line:not(.cm-active) .cm-inline-footnote-end,
.is-live-preview .cm-line:not(.cm-active) .cm-footref.cm-formatting-link-start,
.is-live-preview .cm-line:not(.cm-active) .cm-footref.cm-formatting-link-end {
  font-size: 0 !important;
}




.is-live-preview .cm-line:not(.cm-active) .cm-comment-start, 
.is-live-preview .cm-line:not(.cm-active) .cm-comment-end {
  font-size: 0;
}







.metadata-container {
    margin-block-end: 0;
}






.internal-embed.image-embed[alt*="|center"] {
  width: 100%;
  justify-content: center;
}

.internal-embed.image-embed[alt*="|right"] {
  width: 100%;
  justify-content:right;
}










.search-result-container.is-loading:before {
  display: none;
}




.backlink-pane:not(:hover) > .tree-item-self:first-child > .tree-item-flair-outer {
  display: none;
}





.is-live-preview .is-flashing .cm-formatting:not(.cm-hashtag),
.is-live-preview .is-flashing .cm-blockid {
  font-size: 0 !important;
}

 
.is-flashing {
  --tag-background: transparent;
  --tag-border-color-hover: transparent;
  padding-top: calc(var(--tag-padding-y) / 2);
  padding-bottom: calc(var(--tag-padding-y) / 2);
}






    
.file-embed.mod-empty {
  display: none !important;
}

.internal-embed.mod-empty-attachment {
  display: none !important;
}




.internal-embed[alt*="bare"] {
  --embed-border-start: none;
  --embed-padding: 0;
}

.internal-embed[alt*="bare"] .embed-title {
  display: none;
}









  



.status-bar-item.plugin-backlink,
.status-bar-item.plugin-word-count .status-bar-item-segment:nth-child(2),
.status-bar-item.plugin-editor-status {
  display: none;
}









.vertical-tab-nav-item-icon {
  display: none;
}





body {
  --nmargin-source: -2.5em;
  --nmargin-preview: -2.5em;
}

.is-mobile {
  --nmargin-source: -2.65em;
  --nmargin-preview: -1.7em;
}


.cm-sizer:has(> .cm-contentContainer > .cm-content > .HyperMD-header-1) .inline-title {
  visibility: hidden;
  margin-top: var(--nmargin-source);
}

.markdown-preview-sizer:has(> .el-h1, div > h1) .inline-title {
  visibility: hidden;
  margin-top: var(--nmargin-preview);
}

h1 {
  margin-top: 0 !important;
}






.workspace-leaf-content:has(.banner-image:not(:empty)) {
  --file-header-background: var(--background-primary-transparent) !important;
  --file-header-background-focused: var(--background-primary-transparent) !important;
}





.view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller, 
.markdown-preview-view {
  container-type: size;
  container-name: wide;
}

.markdown-embed-content > .markdown-preview-view {
  container-type: normal
}

.cm-sizer {
  container-type: unset;
}

@container wide (width >= 950px) {
  
  .bases-embed[alt="wide"] {
    width: calc(100cqw - 40px) !important;
    transform: translateX(calc((900px - 100cqw) / 2 + 20px)) !important;

  }
}







.bases-cards-label {
  display: none;
}

.bases-cards-line {
  text-align: center;
  padding: 0 8px;
}

.bases-cards-line[data-property-type="multitext"] {
  padding: 0;
}







.task-card--priority-без_приоритета .task-card__priority-dot,
.task-inline-preview--priority-без_приоритета .task-inline-preview__priority-dot {
    display: none;
}

.tasknotes-view-active .task-group:is(

  [data-group-key="1.Просрочено"],
  [data-group-key="2.Сегодня"],
  [data-group-key="3.Завтра"],
  [data-group-key="4.Следующие 7 дней"]

) .task-group-title::first-letter {
  font-size: 0 !important;
}

.tasknotes-plugin {
  --tn-spacing-md: 4px;
}

.tasknotes-plugin .task-list-view__group-header {

    margin-top: var(--tn-spacing-sm);
}

.mod-sidedock {
    --cs-text-title-small: 0.7rem;
    --cs-text-body-large: 0.83rem;
    --cs-text-body-medium: 0.7rem;
    --cs-text-body-small: 0.6rem;
}


.is-mobile {
  --setting-group-heading-size: 1rem;
  --setting-group-heading-color: var(--text-normal);
}



.metadata-property:not(:focus-within) .multi-select-input {
  display: none;
}





ul li ul, .HyperMD-list-line-2 .cm-formatting-list-ul {
  --list-marker-color: transparent;
  --list-bullet-border: 1px solid var(--text-muted);
  --list-bullet-size: calc(0.3em - 2px);
}

ul li ul li ul, .HyperMD-list-line-3 .cm-formatting-list-ul {
  --list-bullet-transform: rotate(45deg);
  --list-marker-color: var(--text-faint);
  --list-bullet-border: 1px solid var(--text-faint);
  --list-bullet-size: calc(0.3em - 2px);
  --list-bullet-radius: 0;
}

ul li ul li ul li ul, .HyperMD-list-line-4 .cm-formatting-list-ul {
  --list-bullet-transform: rotate(45deg);
  --list-marker-color: transparent;
  --list-bullet-border: 1px solid var(--text-muted);
  --list-bullet-size: calc(0.3em - 2px);
  --list-bullet-radius: 0;
  
}

ul li ul li ul li ul li ul, .HyperMD-list-line-5 .cm-formatting-list-ul {
  --list-marker-color: var(--text-faint);
  --list-bullet-border: none;
  --list-bullet-radius: 50%;
  --list-bullet-size: 0.3em;
  
}


mark {
  background-color: var(--text-highlight-bg);
}






.decorative .internal-embed.image-embed[alt="deco"] {
  vertical-align: middle;
}



